body {
    font-family: 'Calibri', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa; /* Bootstrap background color */
}

#app {
    text-align: center;
}

#word-input {
    font-size: 1em;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
}

#start-button {
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff; /* Bootstrap primary color */
    color: #fff; /* White text for better contrast */
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#start-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

#word-display {
    font-size: 20em;
    margin: 20px 0;
}

#timer {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#summary {
    font-size: 1.2em;
}

#refresh-button {
    font-size: 1em;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #28a745; /* Bootstrap success color */
    color: #fff; /* White text for better contrast */
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block; /* Ensure it's a block-level element for centering */
    transition: background-color 0.3s ease;
}

#refresh-button:hover {
    background-color: #218838; /* Darker shade on hover */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.page-button {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ddd;
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.page-button:hover {
    background-color: #ddd;
}

.page-button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

  kbd {
	margin: 0px 0.1em;
	padding: 0.1em 0.6em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	line-height: 1.4;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	display: inline-block;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2), inset 0px 0px 0px 2px #ffffff;
	background-color: rgb(247, 247, 247);
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	text-shadow: 0 1px 0 #fff;
    }

#summary li::before {
    content: '\1F4D6'; /* Unicode for smiling face emoji */
    margin-right: 8px;
    font-size: 1em;
    vertical-align: middle;
}

#summary li {
    list-style-type: none;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#export-button{
    font-size: 1em;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #1dbfca; /* Bootstrap success color */
    color: #fff; /* White text for better contrast */
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block; /* Ensure it's a block-level element for centering */
    transition: background-color 0.3s ease;
}

#export-button:hover {
    background-color: #1472b1; /* Darker shade on hover */
}